In [195]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [196]:
df = pd.read_csv("dataset/diabetes.csv")
df.dropna(inplace=True)
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [198]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.000,1.00000,3.0000,6.00000,17.00
Glucose,768.0,120.894531,31.972618,0.000,99.00000,117.0000,140.25000,199.00
BloodPressure,768.0,69.105469,19.355807,0.000,62.00000,72.0000,80.00000,122.00
SkinThickness,768.0,20.536458,15.952218,0.000,0.00000,23.0000,32.00000,99.00
Insulin,768.0,79.799479,115.244002,0.000,0.00000,30.5000,127.25000,846.00
BMI,768.0,31.992578,7.884160,0.000,27.30000,32.0000,36.60000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
Outcome,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

In [199]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

print("Panjang X = ", len(X))
print("Panjang y = ", len(y))

Panjang X =  768
Panjang y =  768

In [200]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
print("Jumlah data X_train = ", len(X_train))
print("Jumlah data X_test = ", len(X_test))

Jumlah data X_train =  614
Jumlah data X_test =  154

In [201]:
k_range = range(1, 21)
scores_list = []

for k in k_range:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores_list.append(metrics.accuracy_score(y_test, y_pred))

scores_data = {"k": k_range, "score": scores_list}
scores_pd = pd.DataFrame(scores_data)
print(scores_pd)

     k     score
0    1  0.616883
1    2  0.714286
2    3  0.720779
3    4  0.772727
4    5  0.753247
5    6  0.779221
6    7  0.759740
7    8  0.779221
8    9  0.772727
9   10  0.792208
10  11  0.766234
11  12  0.785714
12  13  0.792208
13  14  0.792208
14  15  0.792208
15  16  0.792208
16  17  0.785714
17  18  0.785714
18  19  0.798701
19  20  0.792208

In [202]:
max_temp = max(scores_list)
for k in enumerate(scores_list, 1):
    if k[1] == max_temp:
        max_score = (k[0], k[1])
        break

print("Akurasi maksimal menggunakan K-Nearest Neighbors adalah {:.2f}".format(max_score[1]*100), "% dengan jumlah k (tetangga terdekat) adalah", max_score[0])

Akurasi maksimal menggunakan K-Nearest Neighbors adalah 79.87 % dengan jumlah k (tetangga terdekat) adalah 19

In [203]:
knn = KNeighborsClassifier(n_neighbors=max_score[0])
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=["Predicted"], margins=True)

Predicted    0   1  All
Actual
0           97  10  107
1           21  26   47
All        118  36  154